.myTable {
    font-size: 12px;

}

td {
    padding: 1px 4px;
}

/*table fixed head*/

.table-fixed-head {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    height: 100vh;
}

.table-fixed-head th,
.table-fixed-head td {
    padding: 5px;
    text-align: center;
    width: 33.333vw;
}

.table-fixed-head thead {
    background-color: #333;
    color: #FDFDFD;
}

.table-fixed-head thead tr {
    display: block;
    position: relative;
}

.table-fixed-head tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 30px);
}

.table-fixed-head tbody tr:nth-child(even) {
    background-color: #DDD;
}